@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  background-color: black;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.NasaPhoto {
  font-family: 'Raleway', sans-serif;
  width: 40%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 2%;
  border-radius: 20px;
  padding: 30px;
}

.Quote {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-top: 8%;
  border-radius: 20px;
  padding: 30px;
}

.title {
  text-align: center;
  color: tomato;
}

.photo {
  height: 200px;
  display: inline;
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.explanation {
  color: tomato;
}

.date {
  color: tomato;
}

.author {
  color: tomato;
  align-content: center;
}

.quotetext {
  display: inline;
  float: right;
  color: tomato;
  font-weight: bold;
  font-size: 30px;
}

.link {
  display: inline;
  float: right;
  color: tomato;
}

.navbar {
  background-color: white;
}
